body{
    background-color: darksalmon;
}
#Title{
    text-align: center;
}
.box{
    width: 75px;
    height: 75px;
    border: 3px solid;
    cursor: pointer;
}
#Container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    text-align: center;
}
