body{
    background-color: darksalmon;
}
hr{
    width: 300px;
    height: 3px;
    background-color: black;
}
#Title{
    text-align: center;
}
.box{
    width: 75px;
    height: 75px;
    border: 3px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6em;
}
#Container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    text-align: center;
}

.scoreDisplay{
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}